<!DOCTYPE html>
<html>
  <head>
    <title>PruebaMarcadores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Categorias', categories_path, class: "button is-info" %>
    <%= link_to 'Tipos', kinds_path, class: "button is-info" %>
    <%= link_to 'Marcadores', bookmarks_path, class: "button is-info" %>
    <%= link_to 'Gráfico', root_path, class: "button is-info" %>
    <%= yield %>
  </body>
</html>
